#root {
    min-width    : $cv-width;
    margin-bottom: 10px;

    h1,
    h2,
    h3,
    .center {
        text-align: center;
    }

    .multi-line>p {
        margin: 0px;
    }

    .pi-label,
    .pi-value {
        padding: 5px;
    }

    .expand {
        flex: 1;
    }

    a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &:focus {
            outline: none;
        }
    }
}