#root {
    min-width: $cv-width;

    * {
        box-sizing: border-box;
    }


    h1,
    h2,
    h3,
    .center {
        text-align: center;
    }

    .pi-label,
    .pi-value {
        padding: 5px;
    }

    .expand {
        flex: 1;
    }

    .main {
        margin-bottom: 10px;
    }

    a {
        color          : $link-color-dark;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &:focus {
            outline: none;
        }
    }
}