#root {
    .pi-div {
        display      : table;
        width        : 400px;
        margin       : auto;
        border-radius: 10px;
        border       : 1px solid gray;

        .pi-row {
            display: table-row;

            &:nth-child(even) {
                background-color: #eee;
            }
        }

        .pi-label,
        .pi-value {
            display: table-cell;
            padding: 5px;
        }
    }
}