#root {
    .ratings {
        .row-style {
            display      : flex;
            padding      : 0px 10px;
            overflow-wrap: break-word;
            align-items  : center;

            .text {
                word-break: break-all;
            }
        }
    }

    .rating {
        font-size  : 20pt;
        margin-left: auto;

        .outline {
            color: black;
        }

        .fill {
            color: orange;
        }
    }

    .skills {
        .section:nth-of-type(3n + 1) .table-style {
            border-color: $border-one;
        }

        .section:nth-of-type(3n + 2) .table-style {
            border-color: $border-two;
        }

        .section:nth-of-type(3n + 3) .table-style {
            border-color: $border-three;
        }
    }
}