#root {
    .lang-choose-box {
        width           : 500px;
        margin          : 15px auto;
        padding         : 10px;
        text-align      : center;
        // background-color: rgb(128, 151, 255);
        border-radius   : 10px;
        border          : 2px solid red;

        .text {
            font-weight   : bold;
            font-size     : 20px;
            padding-bottom: 5px;
            margin-top    : 10px;
        }

        .table {
            width: 100%;
            box-sizing: border-box;
            padding: 0px 5px;
            border-radius: 10px;
            // border       : 1px solid gray;    
        }
    }

    .toggle-settings {
        margin-top: 20px;
        padding   : 5px 10px;
    }
}