$sidebar-width    : 250px;

#root {
    .sidebar {
        // For small screens put the sidebar to the top of the page
        box-sizing      : border-box;
        background-color: #222;
        color           : white;
        // border-bottom   : 1px solid black;
        font-size       : 13pt;

        a {
            color: rgb(86, 235, 255);
        }

        // Make the border of the select elements match its background color
        .button-style:not(:focus):not(:hover) {
            border-color: transparent;
        }

        .content {
            width  : $sidebar-width;
            padding: 10px;
            margin : auto;
        }

        .heading {
            font-weight  : bold;
            font-size    : 16pt;
            margin-bottom: 5px;

            &:not(.first) {
                margin-top: 10px;
            }
        }

        ul {
            margin      : 0px;
            padding-left: 20px;
        }

        .last-updated {
            text-align: center;
            color     : #aaa;
        }
    }

    @media only screen and (min-width: $cv-width + $sidebar-width) {

        // For screens that are big enough put it to the side
        .sidebar {
            position     : fixed;
            top          : 0px;
            left         : 0px;
            width        : $sidebar-width;
            height       : 100%;
            overflow-y   : auto;
            // border-bottom: none;
            // border-right : 1px solid black;

            .content {
                display       : flex;
                flex-direction: column;
                margin        : 0px;
                width         : 100%;
                height        : 100%;
            }
        }

        .main {
            padding-left: $sidebar-width;
        }
    }
}