#root {
    .timeline {
        width : 700px;
        margin: auto;
    }

    .timeline-entry {
        display         : flex;
        margin          : 30px 0px;
        padding         : 10px;
        background-color: $lgray;
        border          : 1px solid darkgray;
        border-radius   : 10px;

        .date-div {
            display        : flex;
            justify-content: center;
            align-items    : center;
            width          : 115px;
            padding-right  : 15px;
            border-right   : 1px solid darkgray;
            margin-right   : 15px;
            font-size      : 11pt;
        }

        .content-div {
            flex: 1;
        }

        .headline {
            text-align : center;
            font-size  : 20px;
            font-weight: bold;
        }

        .company {
            text-align: center;
            color     : #444;

            a {
                color             : #444;
                // text-decoration: underline;
            }
        }

        .date {
            color     : black;
            text-align: right;
        }

        .description {
            // font-style: italic;
            margin-top: 10px;

            &>p {
                margin: 0px;
            }
        }
    }
}