#root {
    .timeline {
        width : 700px;
        margin: auto;
    }

    .timeline-entry {
        display      : flex;
        margin       : 30px 0px;
        padding      : 10px;
        color        : black;
        border       : 2px solid lightblue;
        border-radius: 10px;
        font-size    : 12pt;

        &,
        .date-div {
            border-color: $border-normal;
        }

        &.edu {

            &,
            .date-div {
                border-color: $border-one;
            }
        }

        &.job {

            &,
            .date-div {
                border-color: $border-two;
            }
        }

        &.other {

            &,
            .date-div {
                border-color: $border-three;
            }
        }

        .date-div {
            display        : flex;
            justify-content: center;
            align-items    : center;
            width          : 130px;
            padding-right  : 15px;
            border-right   : 2px solid;
            margin-right   : 15px;
        }

        .content-div {
            flex: 1;
        }

        .headline {
            text-align : center;
            font-size  : 20px;
            font-weight: bold;
        }

        .company {
            text-align: center;
            color     : rgb(32, 32, 32);

            a {
                color: $link-color-dark;
            }
        }

        .date {
            text-align : right;
            font-weight: bold;
        }

        .description {
            margin-top: 10px;

            &>p {
                margin: 0px;
            }
        }
    }
}