$big-screen   : "only screen and (min-width: 768px)";
$medium-screen: "only screen and (min-width: 500px)";

@import "lang_chooser";
@import "infos";
@import "timeline";

.page-footer {
  // Hide the support banner
  display: none;
}

#root {

  h1,
  h2,
  .center {
    text-align: center;
  }

  .multi-line>p {
    margin: 0px;
  }
}