$cv-width     : 700px;
$sidebar-width: 200px;
$lgray        : #f4f4f4;

#root {
  * {
    box-sizing: border-box;
  }
}

@import "general";
@import "tables";
@import "button";
@import "timeline";
@import "sidebar";
@import "ratings";
@import "print";